*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 40px;
}
button{
    height: 70px;
    width: 70px;
    border-radius: 20%;
    border: solid grey 0.5px;
    background-color: #0B032D;
    color: white;
}
button:hover{
    border: white 2px ridge;
}
.display{
    background-color:#FFB997;
    margin-bottom: 20px ;
    padding: 50px 10px 10px 10px;
    height: 80px;
    text-align: end;
}
.content{
    border: solid black 1px;
    padding: 10px;
    background-color: #74546A;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 0 auto;
    height: max-content;
    width: max-content;
}
.buttons{
    display:flex;
}
.numeric{
    display:flex
}
.operators{
    display: flex;
    flex-direction: column;
}
.operators button{
    margin-bottom: 7px;
}
.left-side{
    margin-right: 8px;
}
.zero-button{
    margin-bottom: 7px;
    display: flex;
    gap: 10px;
}
.numbers{
    margin-bottom: 7px;
}
#zero{
    display: flex;
    flex: 1;
    align-items: end;
    gap: 10px;
}
.clear,
.zero,
.delete,
.equals{
    flex-grow: 2;
    border-radius: 10%;
}